.about {
  padding: 80px 0;
  color: #fff;
  
  @include lg {
    padding: 100px 0;
  }
  
  &__container {
  }
  
  &__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;
    margin-bottom: 24px;
    
    @include lg {
      font-size: 52px;
      margin-bottom: 40px; //
    }
  }
  
  
  &__content {
    display: grid;
    // todo grid
    margin-bottom: 13px;
    padding-bottom: 27px;
    // svg the paw inside bg content
    background-image: url('../img/about/the-paw.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    
    @include lg {
      grid-template-columns: 1fr;
      grid-template-rows: min-content;
      gap: 40px;
      margin-bottom: 0;
      padding-bottom: 0;
      grid-area: content;
      grid-template-areas:
        'description',
        'list',
        'link';
      background-position: center;
    }
  
    @include xl {
      gap: 60px;
    }
  }
    

  
  &__description {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: $main;
    margin-bottom: 24px;
    
    @include md {
    }
    
    @include lg {
      margin-bottom: 40px;
    }
    
    @include xl {
      margin-bottom: 60px;
    }
  }

  
  &__link {
    margin-bottom: 40px;
  }  

  
  &__count-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 20px;
    font-weight: 1000;
    color: $second;
  }
  &__count-item {
    // display: block;
    // min-width: 120px;
    // min-height: 55px;
    
    @include lg {
      min-width: 200px;
      min-height: 75px;
    }
  }
  
  &__count {
    line-height: 1;
    text-transform: uppercase;
    color: $second;
    margin-bottom: 16px;
    font-size: 40px;

    @include lg {
      font-size: 52px;
    }
  }
  &__count-desc {
    line-height: 1;
    font-size: 16px;

    @include lg {
      font-size: 20px;
    }
  }

  
  
  &__image {
    border-radius: 16px;
  }
  
  &__image-item {
  }
  
  &__image-list {
  }
  
  &__image-wrapper {
    display: block;
    // border: 1px solid rebeccapurple;
    width: 288px;
    height: 258px;
    border-radius: 16px;    
  }

  
  &__picture {
  }
  
  &__slider {
  }
  
  &__slider-pagination {
  }

}
