// * my debug colors

$orange: #FF8700;
$yellow: #FFD300;
$lime:    #DEFF0A;
$lawngreen: #A1FF0A;
$skyblue: #007FFF;
$violet: #580AFF;
$magenta: #BE0AFF;


// * debug blocks
.debug {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 900;
}

.debug__block {
  position: absolute;
  top: 0;
  left: 0;
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  opacity: 1 ;
}

.debug__text {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.debug__size {
  display: block;
  font-size: 40px;
  font-weight: 900;
}


.debug__block_mobile {
  @media (min-width: 320px) {
    display: flex;
    background-color: #FF8700;
  }
}
.debug__block_sm {
  @include sm {
    display: flex;
    background-color: #FFD300;
  }
}
.debug__block_md {
  @include md {
    display: flex;
    background-color: #DEFF0A;
  }
}
.debug__block_lg {
  @include lg {
    display: flex;
    background-color: #A1FF0A;
  }
}
.debug__block_xl {
  @include xl {
    display: flex;
    background-color: #007FFF;
    color: #040404;
  }
}
.debug__block_desk {
  @media (min-width: 1440px) {
    display: flex;
    background-color: #580AFF;
    color: #efefef;
  }
}
.debug__block_xxl {
  @include xxl {
    display: flex;
    background-color: #BE0AFF;
    color: #dfdfdf;
  }
}
  

// * до 320px скрываем дебаги
@media (max-width: 319px) {
  .debug,
  .debug__block {
    display: none;
  }
}

@media (min-width: 576px) {
  .debug__block_mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .debug__block_sm {
    display: none;
  }
}
@include lg {
  .debug__block_md {
    display: none;
  }
}
@include xl {
  .debug__block_lg {
    display: none;
  }
}
@media (min-width: 1440px) {
  .debug__block_xl {
    display: none;
  }
  
}
@include xxl {
  .debug__block_xl,
  .debug__block_desk {
    display: none;
  }
}
  
.nodebug {
  display: none;
}
