@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/mulish-light.woff2') format('woff2'),
    url('../fonts/mulish-light.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 1000;
  src: url('/src/fonts/mulish-extrablack.woff2') format('woff2'),
    url('/src/fonts/mulish-extrablack.woff') format('woff');
  font-display: swap;
}

// online google fonts 
// * only IT WORKS 1000
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;900;1000&display=swap');
