.location {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $main;
  font-family: Mulish, sans-serif;
  
  &__title {
    font-weight: 1000;
    font-size: 20px;
    line-height: 1;
    color: $back;
    margin-bottom: 16px;
  }
  
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: $second;
  }
  
  &__list {
  }
  
  &__item {
    position: relative;
    padding: 50px 16px;
    min-height: 273px;
    background: rgba(0, 0, 0, 0.253);
    
    @include sm {
      padding-left: 32px;
      padding-right: 32px;
      min-height: 200px;
    }
    
    &::after {
      display: block;
      z-index: 1;
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      height: 0.5px;
      background-color: $second;
      transform: translate(50%, 0.25px);
      width: calc(100% - 32px);
      
      @include sm {
        width: calc(100% - 64px);
      }
    }
    
    &:last-child::after {
      display: none;
    }
    
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      background-size: cover;
      background-position: center;
    }
    
    &_mammals::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/mammals.jpg');
    }
    &_water::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/water.jpg');
    }
    &_birds::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/birds.jpg');
    }
    &_reptiles::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/reptiles.jpg');
    }
    &_insects::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/insects.jpg');
    }
    
    @include sm {
      &_mammals::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/mammals_tablet.jpg');
      }
      &_water::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/water_tablet.jpg');
      }
      &_birds::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/birds_tablet.jpg');
      }
      &_reptiles::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/reptiles_tablet.jpg');
      }
      &_insects::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/location/insects_tablet.jpg');
      }      
    }
  }
}
.visually-hidden {
}
