.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main;
  
  &__title {
    font-family: Mulish, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    line-height: 1.4;
    color: $back;
    margin-bottom: 16px;
  }
  
  &__description {
    font-family: Mulish, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: $second;
  }
  
  &__list {
    border: 1px solid lawngreen;
  }
  
  &__item {
    border: 1px solid orange;
    padding: 50px 16px;
  }
}
.visually-hidden {
}
