.navigation {
  display: flex;
  color: $second;
  
  &__list {
    display: none;
    
    @include xl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
  }
  
  &__item {
    
  }
  
  &__link {
    @include xl {
      font-weight: 1000;
      font-size: 16px;
      // line-height: 140%;
      padding: 20px 32px 19px;
      /* yellow */

      border: 2px solid #FFAA05;
      border-radius: 80px;      
    }
    
  }
  
  
  &__button {
    display: block;
    // border: 1px solid magenta;
    width: 36px;
    height: 36px;
    
    &_closed {
      background: url(../img/menu_span.svg) center/contain no-repeat;
    }

    &_opened {
      background: url(../img/menu_cross.svg) center/contain no-repeat;
    }
    
    @include lg {
      // border: 1px solid lawngreen;
      width: 50px;
      height: 50px;
    }
    
    @include xl {
      display: none;
    }
  }
}