.navigation {
  display: flex;
  color: $second;
  
  &__list {
    display: none;
    
    @include xl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
  }
  
  &__item {
    display: block;
  }
  
  &__link {
    @include xl {
      font-weight: 1000;
      font-size: 16px;
      // line-height: 140%;
      padding: 20px 32px 19px;
      border: 2px solid $back;
      border-radius: 80px;
      background: $main;
      transition: all 200 ease;
    }
    &:hover {
      background: $back;
    }
  }
  
  
  &__button {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/menu_open.svg) center/contain no-repeat;

    &_active {
      background: url(../img/menu_close.svg) center/contain no-repeat;
    }
    
    @include lg {
      width: 50px;
      height: 50px;
    }
    
    @include xl {
      // скрываем кнопку на 1240px
      display: none;
    }
  }
}