* {
  box-sizing: border-box;
}

body {
  background-color: $back;
  color: $main;
}

.container {
  padding: 0 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main;
  min-height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // border: 1px solid lawngreen;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  // border: 1px solid orange;
}


.navigation__list {
  display: flex;
  gap: 8px;
}
.navigation__item {
  color: $second;
  list-style: none;
}
.navigation__link {
  font-family: 'Mulish', sans-serif;
  color: $second;
}
.navigation__link:hover {
  text-decoration: none;
}

.navigation__button {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms ease;
  transform: scale(100%);
}
.navigation__button:hover {
  transform: scale(115%);
}

.header__title {
  color: $back;
  font-family: Mulish;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  line-height: 130%;
  margin: 0;
}

.header__description {
  font-family: Mulish;
  font-weight: 300;
  color: $second;
}



.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 554px;
  background: url(../img/Rectangle_desk.jpg) center no-repeat;
  background-color: $main;
  background-size: cover;
}


.about__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 20px;
  gap: 7px;
  max-width: 177px;
  height: 36px;
  background: $second;
  color: $back;
  text-decoration: none;
  border: 2px solid $second;
  border-radius: 50px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 1000;
  font-size: 16px;
  line-height: 140%;
  transition: all 200ms ease;
}
.about__link::after {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background: url(../img/arrow-right.svg);
}
.about__link:hover {
  border: 2px solid $main;
}


::selection {
  color: $main;
  background-color: $second;
}